body {
    background-color: rgb(225, 247, 255);
    background-image: url('./images/memories.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
